.inner-baner{
    padding: 60px 0px;
    position: relative;
}

span.tilde{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    max-width: 150px;
}

.inner-baner .main-title{
max-width: 1100px;
width: 100%;
margin: 0 auto;
}
.inner-baner .main-title .fs-70{
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.inner-baner .main-title .fs-70 span{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}

.inner-baner .main-title .fs-70 span.line{
    bottom: 0px;
    top: auto;
    left: 0px;
    right: auto;
}

.inner-baner .main-title p{
    text-align: center;
    /* max-width: 1300px; */
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
      margin-top: 15px;
      color: var(--color-primary);
}

.ain-btns{
    display: flex;
    gap: 30px;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin-top: 35px;

}
.ain-btns .c-btn{
    max-width: 260px;
    width: 100%;
    text-align: center;
}
section.inner-baner .ain-btns{
margin-top: 30px;
}

.main-title.text-me h1.fs-70{
    max-width: 1000px;
    margin: 0 auto;
}

.main-title.text-me h1.fs-70 span.line{
    right: 300px;
} 

@media(max-width:1600px){
    section.inner-baner .ain-btns{
        margin-top: 20px;
        gap: 15px;
    }
    .inner-baner .main-title p{
        margin-top: 10px;
    }
    .inner-baner .main-title .fs-70 span.line{
        right: 350px;
    }
    .inner-baner{
        padding: 50px 0px;
    }
    .ain-btns{
        margin-top: 25px;
    }
    span.tilde{
        max-width: 120px;
    }
}

@media(max-width:1400px){
       .inner-baner{
        padding: 40px 0px;
    }
    .ain-btns .c-btn{
        max-width: 230px;
    }
    .inner-baner .main-title .fs-70{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    .inner-baner .main-title p{
        max-width:850px;
    }
     .ain-btns{
        margin-top: 20px;
    }
      span.tilde{
        max-width: 100px;
    }
}
@media(max-width:1200px){
    .inner-baner .main-title .fs-70 span.line{
        right: 200px;
    }
}
@media(max-width:995px){
    .inner-baner{
        padding: 30px 0px;
    }
    .ain-btns{
        margin-top: 15px;
        gap: 12px;
    }
      span.tilde{
        max-width: 90px;
    }
    
}
@media(max-width:768px){
    .main-title.text-me h1.fs-70 span.line{
        display: none;
    }
}
@media(max-width:580px){
    .inner-baner .main-title .fs-70 span.line{
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
    .inner-baner .main-title .fs-70 span,
    .inner-baner .main-title .fs-70 span.line{
        max-width: 90px;
    }
    .inner-baner .main-title .fs-70 span{
        right: 30px;
    }
    section.inner-baner .ain-btns{
        flex-wrap: wrap;
        gap: 12px;
    }
}