.why-choose-us{
    padding: 100px 0px;
}
.choose-content .fs-70{
    color: var( --color-primary);
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    position: relative;

}

.choose-content  p {
    color: var( --color-primary);
    max-width: 900px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.choose-content .fs-70 span{
    position:absolute;
        z-index: -1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateY(-50%);
}

.fs-40{
    position: relative;
}

.laout-grid{
    padding-top: 50px;
    width: 100%;
    margin: 0 auto;
}
.laout-grid .fs-40 span{
position: absolute;
    left: 0;
    bottom: 0px;
    z-index: -1;
}
.flow-data{
    max-width: 600px;
    width: 100%;
}


.main-data .content {
padding: 15px 0px;
}
.flow-data .content-flow .head{
    padding: 15px 0px;
    border-bottom: 1px solid #c4c4c4;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.main-data{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-direction: row-reverse;
}
.work-img{
    max-width: 700px;
}
.flow-data .content-flow .head span{
    width: 35px;
    height: 35px;
    display: block;
}
.flow-data .content-flow .head span img{
    max-width: 35px;
}
.flow-data .content-flow .head span img{
    position: absolute;
}

.content-flow.active .head span img.plus{
opacity: 0;
}
.content-flow .head span img.minus{
    opacity: 0;
}
.content-flow.active .head span img.minus{
    opacity: 1;
}
.flow-data .content-flow{
    padding: 0px 20px;
}
.content-flow.active .main-content{
    display: block;
}
.content-flow .main-content{
padding: 20px 0px;
padding-bottom: 0px;
}


.img-sections .work-img.active{
    display: block;
}
.img-sections .work-img{
    display: none;
    border-radius: 30px;
    overflow: hidden;
        box-shadow: 0 8px 24px #959da533;
}
img.star-line {
    position: absolute;
    top: -99px;
    left: -106px;
}



@media(max-width:1600px){
    .why-choose-us{
        padding: 80px 0px;
    }
    .choose-content .fs-70{
        margin-bottom: 15px;
    }
    .laout-grid{
        padding-top: 40px;
    }
    .main-data{
        padding-top: 30px;
    }
     .main-data{
        gap: 30px;
    }
    .work-img{
        max-width: 600px;
    }
}
@media(max-width:1400px){
     .why-choose-us{
        padding: 60px 0px;
    }
      .laout-grid{
        padding-top: 30px;
    }
    
      .main-data{
        gap: 20px;
    }
    .flow-data .content-flow .head{
        padding: 10px 0px;
    }
    .content-flow .main-content{
        padding-top: 10px;
    }
}
@media(max-width:1200px){
      .why-choose-us{
        padding: 50px 0px;
    }
     .laout-grid{
        padding-top: 25px;
    }
       .main-data{
        padding-top: 15px;
    }
    .laout-grid{
        padding-top: 20px;
    }
    .main-data{
        flex-direction: column;
        gap: 25px;
    }
    .flow-data{
        max-width: 100%;
    }
    .flow-data .content-flow{
        padding: 0px;
    }
    .img-sections .work-img{
        max-width: 100%;
    }
}
@media(max-width:995px){
       .why-choose-us{
        padding: 40px 0px;
    }
}
@media(max-width:768px){}
@media(max-width:580px){
    .choose-content .fs-70 span{
    left: 20%;
    transform: none;
    max-width: 90px;
  }
  
  .laout-grid .fs-40 span{
    max-width: 90px;
  }
}
@media(max-width:430px){}